{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_site/css/signup.css' %}">
</head>
<body>
    <h2>Регистрация</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? </p>
    <a href="{% url 'login' %}">Вход</a>
    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}
</body>
</html>
