html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: grey;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    width: 75%;
    border: 3px solid rgb(107, 21, 21);
}

.other_character {
    border: 3px solid black;
}

.character {
    border: 3px solid black;
}

.dialogue {
    border: 3px solid black;
}

.info {
    border: 3px solid rgb(255, 0, 0);
}

.navbar {
    border: 3px solid blue;
}