html, body {
    height: 100%;
    overflow: hidden;
    background: #f7f7f7;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #f7f7f7;
}

button {
    background: white;
    border: 2px solid #ff0078;
    border-radius: 8px;
}

button:hover {
    background: #ff0078;
    color: white;
    transition: all 0.4s ease;
}

.start, .chara_input {
    width: 33%;
    background: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 1%;
}

.start {
    text-align: center;
}

.start button {
    height: 20%;
}

.chara_input {
    text-align: left;
}

#input_field {
    margin: 5px auto;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1%;
}

/* Убирает стрелочки */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#input_field input {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
}

#input_field input:focus {
    outline: none;
    border: 3px double #ff0078;
    box-shadow: 0 0 3px #ff0078;
}

#input_field input[type=number] {
    width: 64px;
}

#input_field input[type=text] {
    width: 256px;
}

#input_field select {
    background: white;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
}

#input_field select:focus {
    border: 3px double #ff0078;
    box-shadow: 0 0 3px #ff0078;
}

.chara_input button {
    height: 2rem;
    font-size: 120%;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 99%;
    height: 10px;
    background: #f7f7f7;
    margin: 10px auto;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 30px;
    background: #ff0078;
    border-radius: 5px;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 30px;
    background: #ff0078;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.ticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.ticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 30px 0;
    font-size: 90%;
}

a {
    color: #ff0078;
}

.main {
    display: grid;
    grid-template-columns: 1fr 20px 3fr 1fr 1fr;
    width: 75%;
    align-items: center;
}

.other_character, .character, .dialogue, .info, .help {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    background: white;
}

.dialogue, .info, .help {
    padding: 1%;
}

.other_character, .character, .help {
    border: 3px solid rgb(197, 197, 197);
    overflow: hidden;
    border-radius: 16px;
}

.other_character, .character {
    height: 256px;
}

.other_character img, .character img {
    width: 100%;
}

.help {
    display: none;
    width: 50%;
}

.help img {
    display: inline;
}

.help img#formula {
    height: 48px;
}

.help img#small {
    height: 10px;
}

.help img#big {
    height: 14px;
}

.dialogue, .info {
    border: 3px solid #ff0078;
    border-radius: 16px;
    background: white; 
}

.arrow {
    overflow: hidden;
    position: relative;
    float: left;
    right: -1px;
    border-right: 20px solid #ff0078;
    border-top: 20px solid transparent;
    border-bottom: 5px solid transparent;
}

.game_input {
    height: 100%;
}

#stat {
    font-size: 110%;
    color: #ff0078;
}

.input_btn, .choice_btn {
    font-size: 125%;
}

button#help {
    font-size: 150%;
}

.navbar {
    color: rgb(197, 197, 197);
    font-size: 120%;
    margin-top: 1%;
    padding: 1%;
    border-radius: 16px;
    border: 2px solid rgb(197, 197, 197);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.navbar a {
    color: #ff0078;
}