body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1%;
}

.questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: vertical;
}

.question {
    border-radius: 8px;
    border: 2px solid #ff0078;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
}

.question span {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;
    background-color: white;
    border-radius: 6px;
}

.question input {
    display: none;
}

.question span:hover {
    background-color: #ff0078;
    color: white;
    transition: all 0.4s ease;
}

input:checked + span {
    background-color: #ff0078;
    color: white;
    transition: all 0.1s ease;
}

button.submit_button {
    background-color: white;
    border: 2px solid #ff0078;
    border-radius: 4px;
    font-size: 24px;
    float: right;
}

button.submit_button:hover {
    background-color: #ff0078;
    color: white;
    transition: all 0.4s ease; 
}

.results p#score {
    font-size: 36px;
}

.results {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.navbar {
    color: rgb(197, 197, 197);
    font-size: 120%;
    margin-top: 1%;
    padding: 1%;
    border-radius: 16px;
    border: 2px solid rgb(197, 197, 197);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.navbar a {
    color: #ff0078;
}