{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width" />
        <title>Игра</title>
        <link rel="stylesheet" href="{% static 'main_site/css/game.css' %}" />
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}
            <div class="navbar">
               {% block navbar %}
               {% endblock %} 
            </div>
            {% block help %}
            {% endblock %}
        </div>
    </body>
</html>