{% extends "main_site/game_layout.html" %}
{% load static %}

{% block content %}
<div class="main">
<script>
    let state = JSON.parse("{{ state|escapejs }}");
    let annuity = JSON.parse("{{ annuity|escapejs }}");
    let static_url = "static/main_site/img";
    let ann_url = "{% static 'annuity.png' %}";
    let a_url = "{% static 'a.png' %}";
    let p_url = "{% static 'p.png' %}";
    let r_url = "{% static 'r.png' %}";
    let n_url = "{% static 'n.png' %}";
    let home_url = "{% url 'main' %}";
</script>
<div class="other_character"></div>
<div class="arrow"></div>
<div class="dialogue">
    <form class="game_input" method="POST" action="{% url 'game' %}">
        {% csrf_token %}
        <div class="game_text"></div>
        <div class="inputs"></div>
    </form>
</div>
<div class="character"></div>
<div class="info"></div>
</div>
{% endblock %}

{% block navbar %}
<a href="{% url 'main' %}">На главную</a> |
<a href="{% url 'start_game' %}">Начать заново</a>
{% endblock %}

{% block help %}
<button onclick="showHelp();" type="button" id="help">Справка</button> 
<div class="help"></div>
<script src="{% static 'main_site/js/game.js' %}"></script>
{% endblock %}