{% extends "main_site/game_layout.html" %}
{% load static %}

{% block content %}
<script>
    let state = JSON.parse("{{ state|escapejs }}");
    let annuity = JSON.parse("{{ annuity|escapejs }}")
</script>
<div class="other_character"></div>
<div class="dialogue">
    <form class="game_input" method="POST" action="{% url 'game' %}">
        {% csrf_token %}
        <div class="game_text"></div>
        <div class="inputs"></div>
    </form>
</div>
<div class="character"></div>
<div class="info"></div>
{% endblock %}

{% block navbar %}
<a href="{% url 'main' %}">На главную</a> |
<a href="{% url 'start_game' %}">Начать заново</a> | 
<button onclick="showHelp();" type="button" id="help">Справка</button> 
{% endblock %}

{% block help %}
<div class="help"></div>
<script src="{% static 'game.js' %}"></script>
{% endblock %}