{% extends "main_site/game_layout.html" %}
{% load static %}

{% block content %}
<script>
    let character = JSON.parse("{{ character|escapejs }}");
</script>
<div class="chara_input">
    <form method="POST" action="{% url 'game' %}">
    {% csrf_token %}
        <div id="input_product">
            <label for="product_name">Выберите желаемый продукт </label>
            <select name="product_name" required>
                <option value="mainloan">Кредит на любые цели</option>
                <option value="targetloan">Кредит на покупку товара</option>
            </select>
        </div>
        <div id="input_details"></div>
        <button id="submit" type="submit">Перейти к игре</button>
   </form>
</div>
<script src="{% static 'product.js' %}"></script>
{% endblock %}

{% block navbar %}
    <a href="{% url 'main' %}">На главную</a> |
    <a href="{% url 'start_game' %}">Начать заново</a> 
{% endblock %}