{% extends "main_site/game_layout.html" %}

{% block content %}
<div class="start">
    <h2>Игра — симулятор выплат по кредитам</h2>
    <p>
        В этой игре вам предстоит взять на себя роль плательщика кредита. Вам необходимо правильно выбирать выходы
        из ситуаций, учитывая Ваше финансовое положение, и суметь полностью выплатить кредит. 
    </p>
    <a href="{% url 'chara_input' %}">
        <button>Перейти к созданию персонажа</button>
    </a>
</div>
{% endblock %}

{% block navbar %}
    <a href="{% url 'main' %}">На главную</a>
{% endblock %}